.body-content {
	display: none;
	margin-bottom: 50px;
	margin-top: 70px;
}

#successEmotesMessage {
	display: none;
}

#chatMessage {
	width: 100%;
}

.select2.select2-container.select2-container--default {
	width: 100% !important;
}

#singleComment {
	margin-bottom: 7px;
	padding: 3px;
}

#commentCommands {
	margin-left: 0;
}