.body-content {
	display: none;
	padding-bottom: 55px;
	padding-top: 55px;
}

#chatMessage {
	margin: 8px 0;
	width: 100%;
}

.select2.select2-container.select2-container--default {
	width: 100% !important;
}

.singleComment {
	margin: 3px 0 3px 7px;
	padding: 3px;
}

.dropdown-menu {
	left: inherit;
	right: 0;
}