<div class="well">
    <form class="clearfix" ng-submit="login.submitCredentials()">
        <uib-alert ng-repeat="error in login.errors" type="danger" close="login.closeAlert($index)">
            {{::error}}
        </uib-alert>

        <div class="form-group">
            <label for="username">{{::login.config.usernameLabel}}</label>
            <input class="form-control" id="username" ng-model="login.username" ng-required="true" placeholder="{{::login.config.usernamePlaceholder}}" type="text">
        </div>

        <div class="form-group">
            <label for="oauth-token">{{::login.config.passwordLabel}}</label>
            <input class="form-control" id="oauth-token" ng-model="login.password" ng-required="true" placeholder="{{::login.config.passwordPlaceholder}}" type="password">
        </div>

        <div class="checkbox">
            <label>
                <input ng-model="login.remember" type="checkbox"> {{::login.config.rememberLabel}}
            </label>
        </div>

        <!--<button class="btn btn-default btn-sm">Get OAuth Token</button>-->

        <div class="pull-right">
            <button class="btn btn-default btn-sm" type="submit">{{::login.config.submitLabel}}</button>
        </div>
    </form>
</div>