<div class="modal-header">
    <button class="close" ng-click="oauth.close()" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title">
        {{::oauth.config.title}}
    </h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12" style="height: 400px">
            <div class="text-center" ng-if="oauth.loading" style="padding-top: 100px">
                Loading...
            </div>

            <webview ng-if="!oauth.loading" src="{{::oauth.config.tokenAuthUrl}}" style="height: 400px"></webview>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="text-left">
        {{::oauth.config.footer}}
    </div>

    <button class="btn btn-danger" ng-click="oauth.close()" type="button">{{::oauth.config.close}}</button>
</div>