<div class="modal-header">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Generate oauth token</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12" id="webview-wrapper">
            <div class="text-center webview-loading" data-bind="visible: TokenAuthLoading">
                Loading...
            </div>

            <webview src="{{ctrl.tokenAuthUrl}}" id="webview-control"></webview>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="text-left">
        In order to log in, you must generate an oauth token. This is required. Please use the "Connect with Twitch" button above to generate your token. Copy that token and paste it into the password field on the previous form.
    </div>

    <button class="btn btn-primary" ng-click="ok()" type="button">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>