extends layout

block content

    div.alert.alert-warning#loadingEmotesMessage(role="alert")
        strong.
            Emoticons are currently loading.

    div.alert.alert-success.alert-dismissable#successEmotesMessage(role="alert", style="display:none")
        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
            span(aria-hidden="true").
                &times;
        strong.
            Emoticons have been successfully loaded.

    div.alert.alert-warning#loadingBadgesMessage(role="alert")
        strong.
            Badges are currently loading.

    div.alert.alert-success.alert-dismissable#successBadgesMessage(role="alert", style="display:none")
        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
            span(aria-hidden="true").
                &times;
        strong.
            Badges have been successfully loaded.

    h1#channel #{CurrentChannel}
    
    div#messages

    nav.navbar.navbar-default.navbar-fixed-bottom
        div.container
            div.navbar-form.navbar-left(role="Send")
                form.form-group#chatForm
                    input.form-control#chatMessage(type="text",placeholder="Send a message",style="width:280px")

block scripts
    script(src='https://cdn.socket.io/socket.io-1.3.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js')
    script
        include ../public/javascripts/chat.js